.drug-card {
    border: 1px solid white;
    box-shadow: 0.06em 0.06em 0.6em white inset;
    border-radius: 2rem;
    height: 20em;
    width: 75vw;
    margin: 0.5em;
    overflow: scroll;
    
}

.drug-card-data {
   /*  display: grid; */
}

.drug-card-data p {
    margin: 1em;
    
}

.drug-name, .drug-purpose, .drug-uses, .drug-dosage, .warnings {
    font-size: 1.5em;
    text-shadow: 0.6px 0.6px 1px rgb(79, 76, 99);
    
} 

/*Styles for scrollbar*/
.drug-card::-webkit-scrollbar {
    width: 5px;
}
.drug-card::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.drug-card::-webkit-scrollbar-corner {
    background: transparent;
}
.drug-card::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
    box-shadow: 0.05em 0.05em 0.05em white inset;
    border-radius: 8px;
}

@media (max-width: 480px), (max-width: 768px) {
.symptom {
    margin: 0.7em;
}

.drug-card {
    overflow: scroll;
    height: 20em;
    width: calc(100% - 2rem);
    margin: 0.5em;
    justify-self: center;
    
}
}

