.fda-drugs-section {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    height: 75vh;
    border-radius: 10px;
    margin: 0.5em 0;
    font-family: "ZenLoop-Regular", sans-serif;
    font-size: 1.5em;
}

.title-recommended-drugs {
    font-family: "ZenLoop-Italic", sans-serif;
    font-size: 1.3em;
}

.fda-drugs-section-wrapper {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    height: calc(70vh - 4rem);
    width: 85vw;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    border-radius: 4em;
    margin: 0.7em 8em;
    padding: 2rem 1rem;
    overflow-y: scroll;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
}

/*Styles for scrollbar*/
.fda-drugs-section-wrapper::-webkit-scrollbar {
    width: 5px;
}
.fda-drugs-section-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.fda-drugs-section-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}
.fda-drugs-section-wrapper::-webkit-scrollbar-thumb {
    background: rgb(164, 164, 164);
    border-radius: 8px;
}
.fda-drugs-section-wrapper::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .fda-drugs-section {
        align-items: center;
    }

    .fda-drugs-section-wrapper {
        flex-direction: column;
        height: calc(70vh - 6rem);
        width: calc(85vw - 4rem);
        align-items: center;
    }
}

@media (max-width: 480px) {
    .fda-drugs-section-wrapper {
        flex-direction: column;
        width: 85vw;
        align-self: center;
        justify-content: center;
    }
}



