.outer-drug-card-wrapper {

}

.drug-card-wrapper {

}

.drug-card {
    border: 1px solid white;
    box-shadow: 0.06em 0.06em 0.6em white inset;
    border-radius: 2rem;
    height: 20em;
    width: 75vw;
    margin: 0.5em;
    overflow: scroll;
    text-align: start;
    border: 1px solid hotpink;
}

.drug-card-data {
   /*  display: grid; */
}

.drug-card-data p {
    margin: 1em;
    
}

.drug-name, .drug-purpose, .drug-uses, .drug-dosage, .warnings {
    font-size: 1.5em;
    text-shadow: 0.6px 0.6px 1px rgb(79, 76, 99);
    
} 

/*Styles for scrollbar*/
.drug-card::-webkit-scrollbar {
    width: 10px;
}
.drug-card::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.drug-card::-webkit-scrollbar-corner {
    background: transparent;
}
.drug-card::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
    box-shadow: 0.05em 0.05em 0.05em white inset;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 8px;
}

@media (max-width: 768px) {

}

@media (max-width: 425px)  {
.symptom {
    margin: 0.7em;
}
.drug-card-wrapper {
    border-radius: 2rem;
    height: 10em;
    margin: 0.5rem;
    overflow: hidden;
}
.drug-card {
    overflow-y: scroll;
    height: 10em;
    width: 100%;
    margin: 0;
    justify-self: center;
    
}
.drug-card-data {
    font-size:0.8em;
}
.drug-card::-webkit-scrollbar {
    width: 13px;
}
.drug-card::-webkit-scrollbar-thumb {
    background: rgb(201, 200, 200);
    box-shadow: 0.06em 0.06em 0.06em white inset;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 6px;
}
}

