.supplements-section-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 68vh;
    border-radius: 4rem;
    margin: 1em 7em;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
}

.supplements-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   text-align: center;
   justify-content: space-around;
}

/* .supplements-section::-webkit-scrollbar {
  display: none;
} */

/* .supplements-section {
 margin: 1.3rem 0;
} */