.supplements-section-wrapper {
   display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 68vh;
    border-radius: 4rem;
    margin: 1em 7em;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
}

.supplements-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  justify-content: center;
}

/*Styles for scrollbar*/
.supplements-section-wrapper::-webkit-scrollbar {
    width: 15px;
}
.supplements-section-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
.supplements-section-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}
.supplements-section-wrapper::-webkit-scrollbar-thumb {
    background: rgb(177, 174, 195);
    box-shadow: 0.06em 0.06em 0.6em white inset;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 8px;
}