/*STYLES FOR A CAROUSEL:*/
/* .supplements-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

.supplements-section::-webkit-scrollbar {
  display: none;
} */

.supplements-section {
 margin: 1.3rem 0;
}