.modal-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: rgb(181, 180, 180);
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /* position: absolute; */
  /* top: 1rem;
  right: 1rem; */
}

.close {
    width: 10%;
    align-self: flex-end;
    
}

.text-disclaimer {
  font-size: 1.5em;
}