.modal-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background: rgb(181, 180, 180);
  padding: 1.2rem;
  border-radius: 12px;
  width: 90%;
}

.close {
    width: 5%;
    align-self: flex-end;
}

.text-disclaimer {
  font-size: 1.4em;
}