.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    font-family: "ZenLoop-Regular", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    overflow: visible;
    
}

.footer-links {
    align-self: center;
    height: 2rem;
}

.medical-disclaimer {
    font-size: 1em;
    align-content: end;
}

.btn-link {
    margin: 0.1em 0.3em;
    cursor: pointer;
    /* filter: blur(0.02em); */
    background-color: rgb(219, 220, 234);
    color: black;
    border-color: rgb(184, 177, 161);
    border-bottom: rgb(184, 177, 161);
    border-right: rgb(184, 177, 161);
    border-radius: 1em;
    /* box-shadow: 0.06em 0.06em 0.6em rgb(224, 219, 206),
                    -0.06em -0.06em 0.6em rgb(224, 219, 206),
                    0.06em 0.06em 0.06em rgb(209, 201, 183) inset,
                    -0.06em -0.06em 0.06em rgb(209, 201, 183) inset; */
}

@media (max-width: 1200px) {
    .footer-wrapper {
        font-size: 0.8rem;
    }
    .footer-links {
        align-content: end;
}
}

@media (max-width: 1024px) {
    .footer-wrapper {
       display: flex;
       font-size: 0.7rem;
    }    
}

@media (max-width: 860px) {
    .footer-wrapper {
       font-size: 0.6rem;
}
    .footer-links {
        align-content: end;
}
}

/* @media (max-width: 480px) {
    .footer-wrapper {
       
    }
    .medical-disclaimer, .footer-links {
    
    }
} */