.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}

.h1 {
    font-family: "ZenLoop-Italic", sans-serif;
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    margin: 0 5rem;
    text-shadow: 2px 2px 6px #888;
    color: #5c5c5c;
}

.nav-ul {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    justify-content: space-between;
    width: 33%;
}


@media (max-width: 768px)/* , (max-width: 480px) */ {
    .Navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border: 1px solid red;
    }
    .h1 {
        width: 100wv;
        align-content: flex-start;
    }
    .nav-ul {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}