.Navbar {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.h1 {
    font-family: "ZenLoop-Italic", sans-serif;
    font-size: 5rem;
    border: 1px solid red;
    margin: 1rem;
    
}

.nav-ul {
    border: 1px solid yellow;
    display: inline-flex;
    align-self: center;
    
    
}


