.Navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.h1 {
    font-family: "ZenLoop-Italic", sans-serif;
    font-size: 4rem;
    margin: 0 5rem;
    text-shadow: 2px 2px 6px #888;
    color: #5c5c5c;
}

.nav-ul {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    justify-content: space-between;
    width: 33%;
}


