#root {
  isolation: isolate;
}

.server-loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.p-server-loading {
  font-family: "ZenLoop-Regular", sans-serif;
}