.home-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 33em;
}

.home-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0.18em 0.18em 0.4em white,
                -0.18em -0.18em 0.4em white,
                0.20em 0.20em 1.5em rgb(184, 177, 161) inset,
                -0.20em -0.20em 1.5em rgb(184, 177, 161) inset;
    border-radius: 4rem;
    height: 29em;
    margin: 2em 4em;
}


/* Styles */
/* .home-section-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid white;
    height: 29em;
    margin: 2em 4em;
    box-shadow: 5px 5px 5px #0008;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}
.home-section-wrapper::before, .home-section-wrapper::after {
    content: "";
    border: 1px solid red;
    position: absolute;
    height: 27em;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.home-section-wrapper::before {
    background: conic-gradient(#44f 20deg, transparent 120deg);
    animation: rotate 4s infinite linear;
}
.home-section-wrapper:after {
    background: #222;
    height: 95%;
    box-shadow: 5px 5px 15px #0008 inset;
    border-radius: 10px;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%);
        rotate (-360deg);
    }
} */