@font-face {
  font-family: "ZenLoop-Italic";
  src: url("/symptomed/public/fonts/ZenLoop-Italic.ttf") format("truetype-variations");
  font-display: swap;  
}
@font-face {
  font-family: "ZenLoop-Regular";
  src: url("/symptomed/public/fonts/ZenLoop-Regular.ttf") format("truetype-variations");
  font-display: swap;
}

:root {
  color-scheme: light dark;
  background-color: rgb(219, 220, 234);
  color: #10161d;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  /* Breakpoints (for reference) */
  --bp-xs: 30rem;   /* 480px */
  --bp-sm: 40rem;   /* 640px - Large mobile */
  --bp-md: 48rem;   /* 768px - Tablet */
  --bp-lg: 64rem;   /* 1024px - Desktop */
  --bp-xl: 80rem;   /* 1280px - Large desktop */
}










/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
