@font-face {
  font-family: "ZenLoop-Italic";
  src: url("src/fonts/ZenLoop-Italic.ttf") format("truetype-variations");
  font-display: swap;  
}
@font-face {
  font-family: "ZenLoop-Regular";
  src: url("src/fonts/ZenLoop-Regular.ttf") format("truetype-variations");
  font-display: swap;
}
@font-face {
    font-family: "Dosis";
    src: url("src/fonts/Dosis-VariableFont_wght.ttf") format("truetype-variations");
    font-display: swap;
    /* font-weight: 200 800; */
}
@font-face {
    font-family: "Lora-Italic";
    src: url("src/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-display: swap;
    /* font-weight: 400 700; */
}
@font-face {
    font-family: "Lora";
    src: url("src/fonts/Lora-VariableFont_wght.ttf") format("truetype-variations");
    font-display: swap;
    /* font-weight: 400 700; */
}

:root {
  color-scheme: light dark;
  background-color: rgb(219, 220, 234);
  /* background-color: #bdc8d6;  =  rgb(189, 200, 214)*/
  /*background-color: #F0EFEB;  PANETONE 2026*/
  color: #10161d;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  /* Breakpoints (for reference) */
  --bp-xs: 30rem;   /* 480px */
  --bp-sm: 40rem;   /* 640px - Large mobile */
  --bp-md: 48rem;   /* 768px - Tablet */
  --bp-lg: 64rem;   /* 1024px - Desktop */
  --bp-xl: 80rem;   /* 1280px - Large desktop */
}










/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
