*, *::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html { 
    scroll-behavior: smooth; 
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
    line-height: 1.5;
}

img, picture, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}