/* .demo-user-profile-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0.06em 0.06em 0.6em white inset;
    border-radius: 3rem;
    height: calc(66vh - 5.5rem);
    width: 45%;
} */

.profile-data-btn {
    display: flex;
    flex-direction: row;
}