.login-form-wrapper {
    border: 1px solid blue;
    display: flex;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    border: 1px solid red;
    color: #797979;
    font-family: "ZenLoop-Regular", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 70vw;
    border-radius: 4rem;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
}

.login-p {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.login-email-label, .login-password-label {
    text-shadow: 0.6px 0.6px 0.4px rgb(79, 76, 99);
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.3rem;
}

.login-email, .login-password {
    background: none;
    cursor: default;
    border: none;
    border-bottom: 1px solid rgb(79, 76, 99);
    color: #797979;
}

.login-email {
    width: 21ch;
    margin: 0 0.7rem;
}


.login-password {
    margin: 0 1.1rem;
}