.open-fda-categories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.open-fda-categories-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 66vh;
    width: 85%;
    margin: 1em 7em;
    border-radius: 4rem;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
}

@media (max-width: 1024px) {
    .open-fda-categories-section {
        height: calc(66vh - 3rem);
    }
}

@media (max-width: 768px) {
    .open-fda-categories-section {
        height: calc(66vh - 4rem);
        width: 75%;
        margin: 1.5em 7em;
        border-radius: 2rem;
    }
}

@media (max-width: 480px) {
    .open-fda-categories-wrapper {
       
    }
    .open-fda-categories-section {
        height: calc(66vh - 2rem);
        margin: 0.6em 4em;
        border-radius: 2rem;
    }
}