.demo-form-wrapper {
    display: flex;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-form {
    color: #797979;
    font-family: "ZenLoop-Regular", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 70vw;
    border-radius: 4rem;
    box-shadow: 0.15em 0.15em 0.3em white,
                    -0.15em -0.15em 0.3em white,
                    0.15em 0.15em 1em rgb(162, 161, 184) inset,
                    -0.15em -0.15em 1em rgb(162, 161, 184) inset;
    
}

.demo-p {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.demo-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.demo-email-label, .demo-password-label {
    text-shadow: 0.6px 0.6px 0.4px rgb(79, 76, 99);
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.3rem;
}

.demo-email, .demo-password {
    background: none;
    cursor: default;
    border: none;
    border-bottom: 1px solid rgb(79, 76, 99);
    color: #797979;
}

.demo-email {
    width: 21ch;
    margin: 0 0.7rem;
}


.demo-password {
    margin: 0 1.1rem;
}

.home-page {
    background: none;
    margin: 1rem;
    /* font-size: 2rem; */
    /* width: 5em; */
    border: none;
}

@media (max-width: 770px) {
.demo-p {
        margin: 0 1rem;
    }
}

@media (max-width: 560px) {
    .demo-form-wrapper, .demo-form {
        height: 60vh;
    }  
    .demo-p, .demo-email-label, .demo-password-label {
        font-size: 1.3em;
    }
}

@media (max-width: 375px) {
    .demo-p, .demo-email-label, .demo-password-label {
        font-size: 1em;
    }
}